[diff]
	tool = vscode
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[alias]
	s = status
	sv = status -v
	b = branch
	co = !git checkout
	cb = !git rev-parse --abbrev-ref HEAD
	cob = !git checkout -b
	cam = !git commit -am
	unstageall = !git reset -- .
	recommit = commit -c ORIG_HEAD
	cnoe = !git commit --amend --no-edit
	undolast = reset HEAD~
	resethard = reset HEAD --hard
	amend = !git commit --amend
	pushrefs = !git push origin HEAD:refs/for/master
	lgo = !git log --oneline --decorate --all
	lggo = !git log --graph --oneline --decorate --all
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgs = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --stat
[core]
	editor = code --wait
	excludesFile = ~/.gitignore_global
[init]
	defaultBranch = main
[credential]
	credentialStore = gpg
[pull]
	rebase = true
