[diff]
	tool = vscode
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[alias]
	a = !git add
	aa = !git add --all
	fa = !git fetch --all
	fap = !git fetch --all --prune
	s = !git status -s
	sta = !git status
	sv = !git status -v
	b = !git branch
	ba = !git branch -a
	br = !git branch -r
	bu = !git branch --set-upstream-to
	co = !git checkout
	cb = !git rev-parse --abbrev-ref HEAD
	rc = !git rebase --continue
	curr-branch = !git rev-parse --abbrev-ref HEAD
	cob = !git checkout -b
	c = !git commit
	cm = !git commit -m
	cmnv = !git commit --no-verify -m
	cam = !git add --all && git commit -am
	camnv = !git add --all && git commit --no-verify -am
	unstageall = !git reset -- .
	rh = !git reset HEAD
	unstage = !git reset --
	recommit = !git commit -c ORIG_HEAD
	cnoe = !git commit --amend --no-edit
	cnoenv = !git commit --amend --no-edit --no-verify
	acnoe = !git add --all && git commit --amend --no-edit
	acnoenv = !git add --all && git commit --amend --no-edit --no-verify
	recommit = !git commit -c ORIG_HEAD
	undolast = !git reset HEAD~
	resethard = !git reset HEAD --hard
	resetall = !git reset HEAD --hard && git clean -f
	drop = !git reset HEAD --hard && git clean -f
	amend = !git commit --amend
	pushrefs = !git push origin HEAD:refs/for/master
	lg = !git log --color --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	lv = !git log --color --graph
	lt = !git log --no-walk --tags --pretty='%Cred%h%Creset - %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --decorate=full
	lgstat = !git log --color --graph  --abbrev-commit --stat --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	lgmy = !git log --graph  --abbrev-commit --author='stanislavsabev' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	lgauth = !git log --graph  --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --author
	lgsha = !git log --pretty=format:'%H'
	sha = !git log -1 --pretty=format:'%H'
	longsha = !git log -1 --pretty=format:'%H'
	shortsha = !git log -1 --pretty=format:'%h'
	stat = !git diff HEAD~1 HEAD --stat
	gdiff = !git diff
	gdiffhead = !git diff HEAD
	changed = !git diff HEAD HEAD^ --name-only
	pushrefs = "!git push origin HEAD:refs/for/\"$1\" #"
	wt = !git worktree
	fetcha = !git fetch --all
	pushp = !git pull && git push
	cleanf = !git clean -f
[core]
	editor = code --wait
	excludesFile = ~/.gitignore_global
[init]
	defaultBranch = main
[credential]
	credentialStore = gpg
[pull]
	rebase = true
[rerere]
	enabled = true