[diff]
	tool = vscode
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[alias]
	s = status
	sv = status -v
	b = branch
	co = !git checkout
	unstageall = !git reset -- .
	recommit = commit -c ORIG_HEAD
	comnoe = !git commit --amend --no-edit
	cnoe = !git commit --amend --no-edit
	commitnoedit = !git commit --amend --no-edit
	undolast = reset HEAD~
	resethard = reset HEAD --hard
	amend = !git commit --amend --no-edit
	pushrefs = !git push origin HEAD:refs/for/master
	lgo = !git log --oneline --decorate --all
	lggo = !git log --graph --oneline --decorate --all
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgs = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --stat
[core]
	editor = code --wait
[init]
	defaultBranch = main
